<head>
    <style>
        .center {
            margin: auto;
            width: 50%;
            text-align: center;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .centerTable {
            margin: auto;
            width: 90%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="center">
        <%= settings.name %><br>
        <%= settings.indirizzo%>, <%= settings.citta %>, (<%= settings.prov %>)<br>
        Email: <%= settings.email %>, tel: <%= settings.tel %><br>
        Partita IVA: <%= settings.piva %>
    </div>

    <table class="centerTable" style="border: 3px solid black; border-collapse: collapse;">
        <tr style="border: 3px solid black; border-collapse: collapse;">
            <th colspan="1" style="border: 3px solid black; border-collapse: collapse; padding: 10px;">Codice</th>
            <th colspan="7" style="border: 3px solid black; border-collapse: collapse; padding: 10px;">Descrizione</th>
            <th colspan="2" style="border: 3px solid black; border-collapse: collapse; padding: 10px;">Quantita</th>
        </tr>
        <% for (var i = 0; i < load.length; i++) { %>
        <tr style="border: 3px solid black; border-collapse: collapse;">
            <td colspan="1" style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><%= load[i].storage_id%></td>
            <td colspan="7" style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><%= load[i].descrizione %></td>
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><%= load[i].quantita %></td>
        </tr>
        <% } %>
    </table>

    <div style="position: fixed; bottom: 5px; width: 100%; ">
        <table class="centerTable" style="border: 3px solid black; border-collapse: collapse;">
            <tr style="height: 20px;border: 3px solid black; border-collapse: collapse;">
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><b>Trasporto</b></td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><b>Aspetto est. dei beni</b></td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><b>Causale del trasporto</b></td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><b>N. Colli</b></td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><b>Data e ora trasporto</b></td>
            </tr>
            <tr style="height: 20px;border: 3px solid black; border-collapse: collapse;">
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;">A Mezzo Mittente</td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;">Come da elenco</td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;">Tentata Vendita</td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><%= load.length %></td>
                <td style="border: 2px solid black; border-collapse: collapse; padding: 10px;"><%= currentDate %></td>
            </tr>
            <tr style="height: 40px !important;border: 3px solid black; border-collapse: collapse;">
                <td style="height: 40px;border: 2px solid black; border-collapse: collapse; padding: 10px;" colspan="3">
                    <p style="margin-top: 3px; margin-left: 3px; font-size: 9px; text-align: left">
                        Firma Autista
                    </p>
                </td>
                <td style="height: 40px;border: 2px solid black; border-collapse: collapse; padding: 10px;" colspan="2">
                    <p style="margin-top: 3px; margin-left: 3px; font-size: 9px; text-align: left">
                        Firma
                    </p>
                </td>
            </tr>
        </table>
    </div>

</body>

